.list-event-wrapper .list-single-event .event__details p {
    color: white;
}

.events__data__header h1 {
    padding-left: 100px;
}

.add___event__btn {
    border: 1px solid #16c48e;
    background-color: #16c48e;
    border-radius: 50px;
    padding: 10px;
}

.add___event__btn a {
    padding-left: 15px;
    text-decoration: none;
    color: white;
}