.page__title {
    text-align: center;
    padding-left: 70px;
}

.add__tenant__container {
    padding-left: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.form__input input {
    width: 100%;
    font-size: 1rem;
    background: transparent;
    border: 1px solid #1c6294 !important;
    outline: none;
    border-radius: 5px;
}

.form__input {
    margin-bottom: 15px;
}

.form__input label {
    margin-bottom: 10px;
}

.form__input .upload__input {
    align-items: center;
}

.upload__input__file {
    outline: none;
    border: none;
}