.join-tenant-header p {
    color: black;
}

.join-tenant-header span {
    color: black !important;
}

.form__input input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin: 10px;
    padding: 2px;
}

.form__input textarea {
    margin: 10px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
    padding: 2px;
}

.submit__btn {
    border: 1px solid #1c2964;
    padding: 10px;
    border-radius: 20px;
    background-color: transparent;
    transition: 0.5s;
}

.submit__btn:hover {
    background-color: #1c2964;
    color: #ff9d33;
}


